# Foundry
contracts/out/
contracts/cache/

# Ignores development broadcast logs
!contracts/broadcast
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/

# Dotenv file
.env

# Node.js
backend/node_modules/
.env

# React
frontend/build/